@inject Ferieboliger.BLL.Services.IFerieboligService ferieboligService

<MudCard Elevation="0" Class="no-background">
    <MudCard Elevation="0" Class="d-flex align-center no-background">
        <p class="feriebolig__overskrift">Priser</p>

        <MudIconButton OnClick="OpenDialog" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Class="ma-2" />
    </MudCard>

    <MudCard Elevation="0" Class="d-flex flex-column feriebolig__priser no-background">
        <MudCard Elevation="0" Class="d-flex feriebolig__priser no-background">
            <MudCard Class="feriebolig__specifikkePriser">
                <span class="feriebolig__specifikkePriser--prisHoejUge feriebolig__specifikkePriser--overskrift">
                    Højsæson Uge <br />
                </span>
                <span class="feriebolig__priser--pris">
                    @Model.PrisHoejUge DKK
                </span>
                <span class="feriebolig__priser--beskat">
                    Skat: @Model.BeskatningHoejUge DKK
                </span>
            </MudCard>
            <MudCard Class=" feriebolig__specifikkePriser">
                <span class="feriebolig__specifikkePriser--prisHoejWeekend feriebolig__specifikkePriser--overskrift">
                    Højsæson Weekend <br />
                </span>
                <span class="feriebolig__priser--pris">
                    @Model.PrisHoejWeekend DKK
                </span>
                <span class="feriebolig__priser--beskat">
                    Skat: @Model.BeskatningHoejWeekend DKK
                </span>
            </MudCard>
        </MudCard>
        <MudCard Elevation="0" Class="d-flex feriebolig__priser no-background">
            <MudCard Class="feriebolig__specifikkePriser ">
                <span class="feriebolig__specifikkePriser--prisLavUge feriebolig__specifikkePriser--overskrift">
                    Lavsæson Uge: <br />
                </span>
                <span class="feriebolig__priser--pris">
                    @Model.PrisLavUge DKK
                </span>
                <span class="feriebolig__priser--beskat">
                    Skat: @Model.BeskatningLavUge DKK
                </span>
            </MudCard>
            <MudCard Class="feriebolig__specifikkePriser ">
                <span class="feriebolig__specifikkePriser--prisLavWeekend feriebolig__specifikkePriser--overskrift">
                    Lavsæson Weekend <br />
                </span>
                <span class="feriebolig__priser--pris">
                    @Model.PrisLavWeekend DKK
                </span>
                <span class="feriebolig__priser--beskat">
                    Skat: @Model.BeskatningLavWeekend DKK
                </span>
            </MudCard>
        </MudCard>
    </MudCard>
</MudCard>

    <MudDialog @bind-IsVisible="visible" Options="dialogOptions">
        <TitleContent>
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Rediger @Overskrift.ToLower()
            </MudText>
        </TitleContent>
        <DialogContent>
            <MudCard Elevation="0" Class="d-flex tilfoejFeriebolig__fieldset">
                <MudField Label="Højsæson Uge" Variant="Variant.Outlined">
                    <MudNumericField @bind-Value="Model.PrisHoejUge" Label="Pris" Variant="Variant.Text" Adornment="Adornment.End" AdornmentText="DKK" HideSpinButtons="true" />
                    <MudNumericField @bind-Value="Model.BeskatningHoejUge" Label="Beskatning" Variant="Variant.Text" Adornment="Adornment.End" AdornmentText="DKK" HideSpinButtons="true" />
                </MudField>
                <MudField Label="Højsæson - weeekend" Variant="Variant.Outlined">
                    <MudNumericField @bind-Value="Model.PrisHoejWeekend" Label="Pris" Variant="Variant.Text" Adornment="Adornment.End" AdornmentText="DKK" HideSpinButtons="true" />
                    <MudNumericField @bind-Value="Model.BeskatningHoejWeekend" Label="Beskatning" Variant="Variant.Text" Adornment="Adornment.End" AdornmentText="DKK" HideSpinButtons="true" />
                </MudField>
            </MudCard>
            <MudCard Elevation="0" Class="d-flex tilfoejFeriebolig__fieldset">
                <MudField Label="Lavsæson - uge" Variant="Variant.Outlined">
                    <MudNumericField @bind-Value="Model.PrisLavUge" Label="Pris" Variant="Variant.Text" Adornment="Adornment.End" AdornmentText="DKK" HideSpinButtons="true" />
                    <MudNumericField @bind-Value="Model.BeskatningLavUge" Label="Beskatning" Variant="Variant.Text" Adornment="Adornment.End" AdornmentText="DKK" HideSpinButtons="true" />
                </MudField>
                <MudField Label="Lavsæson - weekend" Variant="Variant.Outlined">
                    <MudNumericField @bind-Value="Model.PrisLavWeekend" Label="Pris" Variant="Variant.Text" Adornment="Adornment.End" AdornmentText="DKK" HideSpinButtons="true" />
                    <MudNumericField @bind-Value="Model.BeskatningLavWeekend" Label="Beskatning" Variant="Variant.Text" Adornment="Adornment.End" AdornmentText="DKK" HideSpinButtons="true" />
                </MudField>
            </MudCard>
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="Fortryd" Variant="Variant.Filled" Class="px-10">Fortryd</MudButton>
            <MudButton OnClick="GemFeriebolig" Variant="Variant.Filled" Color="Color.Primary" Class="px-10">Gem</MudButton>
        </DialogActions>
    </MudDialog>



    @code {
        [Parameter]
        public string Overskrift { get; set; }

        [Parameter]
        public Feriebolig Model { get; set; }


        private DialogOptions dialogOptions = new() { FullWidth = true };

        private bool visible;

        private void OpenDialog()
        {
            visible = true;
        }

        public void Fortryd()
        {
            ferieboligService.ResetContextState();
            visible = false;
        }


        public async Task GemFeriebolig()
        {
            await ferieboligService.UpdateFeriebolig();
            visible = false;
        }
    }
