@using Ferieboliger.BLL.Services;

@inject IFerieboligService ferieboligService;

<MudCard Elevation="0" Class="d-flex align-center no-background">
    <p class="feriebolig__overskrift">@Overskrift</p>
    <MudIconButton OnClick="OpenDialog" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Class="ma-2" />
</MudCard>
@foreach (var item in Model.Faciliteter)
{
    <p>@item.Beskrivelse</p>
}

<MudDialog @bind-IsVisible="visible" Options="dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Rediger @Overskrift.ToLower()
        </MudText>
    </TitleContent>
    <DialogContent>
        <!--Det kunne evt være et komponent - vi bruger det også i 'addFeriebolig'-->
        <MudSelect T="Facilitet" Label="@Overskrift" MultiSelection="true" @bind-SelectedValues="options" MultiSelectionTextFunc="@(new Func<List<string>, string>(GetMultiSelectionText))">
            @foreach (var item in AlleFaciliteter)
            {
                //TODO den skal vises pænt i oversigt - ikke DAL halløj
                <MudSelectItem T="Facilitet" Value="@item">@item.Beskrivelse</MudSelectItem>
            }
        </MudSelect>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Fortryd" Variant="Variant.Filled" Class="px-10">Fortryd</MudButton>
        <MudButton OnClick="GemFeriebolig" Variant="Variant.Filled" Color="Color.Primary" Class="px-10">Gem</MudButton>
    </DialogActions>
</MudDialog>


@code {

    [Parameter]
    public string Overskrift { get; set; }

    [Parameter]
    public Feriebolig Model { get; set; }

    [Parameter]
    public List<Facilitet> AlleFaciliteter { get; set; }

    private DialogOptions dialogOptions = new() { FullWidth = true };

    private HashSet<Facilitet> options { get; set; } = new HashSet<Facilitet>();

    private bool visible;

    private void OpenDialog() {
        visible = true;
        options = Model.Faciliteter.ToHashSet();
    }

    public async Task GemFeriebolig()
    {
        Model.Faciliteter = options.ToList();
        await ferieboligService.UpdateFeriebolig();
        visible = false;
    }


    private string GetMultiSelectionText(List<string> selectedValues)
    {
        if (selectedValues.Count() > 0 && options.Count() == 0)
        {
            return "Du har valgt 1 facilitet";
        }
        selectedValues = options.ToList().Select(x => x.Beskrivelse).ToList();
        return $"Valgte faciliteter: {string.Join(", ", selectedValues.Select(x => x))} ";
    }

    public void Fortryd()
    {
        visible = false;
    }

}
