@page "/booking/{Id:int}"

@using Ferieboliger.BLL.Services;
@using System.Globalization;

@inject IBookingService bookingService;

<h3>Booking @booking.Id</h3>

<MudCard Elevation="0">
    <p class="feriebolig__overskrift"> Feriebolig </p>
    <a href="/ferieboliger/@booking.Feriebolig.Id">Hus nr. @booking.Feriebolig.Id </a><br />
    @booking.Feriebolig.Adresse.Vej <br />
    @booking.Feriebolig.Adresse.Postnummer @booking.Feriebolig.Adresse.By

    <p class="feriebolig__overskrift">Pris</p>
    @booking.Pris DKK

    <p class="feriebolig__overskrift">Point</p>
    @point point

    <p class="feriebolig__overskrift">Periode</p>
    <p>@booking.UdlejDato.ToString("dddd", inf) @booking.UdlejDato.ToShortDateString() - @booking.UdlejDato.ToString("dddd", inf) @booking.AfrejseDato.ToShortDateString()</p>
</MudCard>

<MudDivider></MudDivider>

<MudCard Elevation="0">
    <p class="feriebolig__overskrift">@booking.Bruger.Navn</p>
    <p>
        @booking.Bruger.Email <br />
        Her mangler vi en adresse på bruger
    </p>
    <MudCheckBox @ref="noeglerSendt" CheckedChanged="@((bool e) => UpdateNoeglerSendt(e))" Label="Nøgler afsendt"></MudCheckBox>
    <MudCheckBox @ref="noeglerRetur" CheckedChanged="@((bool e) => UpdateNoeglerRetur(e))" Label="Nøgler returneret"></MudCheckBox>
</MudCard>
<MudDivider></MudDivider>

<OpretKommentar Booking="@booking"></OpretKommentar>

<MudDivider></MudDivider>

<MudButton StartIcon="@Icons.Material.Filled.Send" Variant="Variant.Filled" Color="Color.Primary">Gensend bekræftelsesmail</MudButton>

@if (booking.UdlejDato >= DateTime.Now)
{
    <DeleteDialog Booking="@booking"></DeleteDialog>
}






@code {
    [Parameter]
    public int Id { get; set; }
    public Booking booking = new Booking() { Bruger = new Bruger(), Feriebolig = new Feriebolig() };

    MudCheckBox<bool> noeglerSendt;
    MudCheckBox<bool> noeglerRetur;

    public int point;

    CultureInfo inf = new CultureInfo("da-DK");

    protected override async Task OnInitializedAsync()
    {
        booking = await bookingService.GetBookingByIdAsync(Id);
        noeglerSendt.Checked = booking.NoeglerSendt;
        noeglerRetur.Checked = booking.NoeglerReturneret;
        point = (int)booking.PointPris;
    }

    public async Task UpdateNoeglerRetur(bool e)
    {
        booking.NoeglerReturneret = e;
        await bookingService.UpdateBookingAsync();
    }

    public async Task UpdateNoeglerSendt(bool e)
    {
        booking.NoeglerSendt = e;
        await bookingService.UpdateBookingAsync();
    }


}
