@page "/ferieboliger/{Id:int}"

@using Ferieboliger.BLL.Services;
@using Ferieboliger.Pages.Feriebolig.EditModuler;
@using Ferieboliger.Pages.Feriebolig.Booking;
@using System.Globalization;

@inject IFerieboligService ferieboligService;
@inject IFacilitetService facilitetService;

<MudPaper Width="100%" Elevation="0" Class="d-flex">
    <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
        <MudPaper Elevation="0">
            <MudText>
                <h3>@feriebolig.Adresse.By hus nr. @feriebolig.Id</h3>
                <p>
                    @feriebolig.Adresse.Vej, @feriebolig.Adresse.Postnummer @feriebolig.Adresse.By<br />
                    @feriebolig.Adresse.Land
                </p>
            </MudText>
            <MudCard Elevation="0" Class="d-flex feriebolig__highlights">
                <EditHighlights Overskrift="Highlights" Model="@feriebolig"></EditHighlights>
            </MudCard>

            <MudCard Elevation="0" Class="feriebolig__rediger">
                <EditTextfields Model="@feriebolig" Overskrift="Beskrivelse" Property="@feriebolig.Beskrivelse" PropertyName="Beskrivelse"></EditTextfields>
            </MudCard>
            <MudCard Elevation="0" Class="feriebolig__rediger">
                <EditTextfields Model="@feriebolig" Overskrift="Bemærkninger" Property="@feriebolig.Bemaerkninger" PropertyName="Bemaerkninger"></EditTextfields>

            </MudCard>

            <MudCard Elevation="0">
                <EditDropdownMultiselect AlleFaciliteter="@alleFaciliteter" Model="@feriebolig" Overskrift="Faciliteter"></EditDropdownMultiselect>
            </MudCard>

        </MudPaper>
    </MudContainer>

    <MudContainer MaxWidth="MaxWidth.Small">

        <EditPriser Overskrift="Priser" Model="@feriebolig"></EditPriser>
        <!--TODO: lav lodtrækning og booking? måske kun booking??-->

        <MudCard Elevation="0">
            <BookingFeriebolig Model="@feriebolig"></BookingFeriebolig>
        </MudCard>

        <MudCard Elevation="0">
            <p class="feriebolig__overskrift">Bookinger</p>
            @foreach (var booking in feriebolig.Bookinger)
            {   
                <p>@booking.Id: @booking.UdlejDato.ToString("dddd", inf) @booking.UdlejDato.ToShortDateString() - @booking.UdlejDato.ToString("dddd", inf) @booking.AfrejseDato.ToShortDateString()</p>
            }
        </MudCard>

        <MudCard Elevation="0">
            <EditNoegler Model="feriebolig"></EditNoegler>
        </MudCard>
    </MudContainer>
</MudPaper>

@code {
    [Parameter]
    public int Id { get; set; }

    Feriebolig feriebolig = new Feriebolig();
    List<Facilitet> faciliteter = new List<Facilitet>();
    public List<Facilitet> alleFaciliteter = new List<Facilitet>();
    CultureInfo inf = new CultureInfo("da-DK");

    protected override async Task OnInitializedAsync()

    {
        alleFaciliteter = await facilitetService.GetFacilitiesAsync();
        feriebolig = await ferieboligService.GetFerieboligByIdAsync(Id);
        faciliteter = feriebolig.Faciliteter.ToList();
    }



}
