@page "/ferieboliger/{Id:int}"

@using Ferieboliger.BLL.Services;
@using Ferieboliger.Pages.Feriebolig.EditModuler;

@inject IFerieboligService ferieboligService;
@inject IFacilitetService facilitetService;

<MudPaper Width="100%" Elevation="0" Class="d-flex">
    <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
        <MudPaper Elevation="0">
            <MudText>
                <h3>@feriebolig.Adresse.By hus nr. @feriebolig.Id</h3>
                <p>
                    @feriebolig.Adresse.Vej, @feriebolig.Adresse.Postnummer @feriebolig.Adresse.By<br />
                    @feriebolig.Adresse.Land
                </p>
            </MudText>
            <MudCard Elevation="0" Class="d-flex feriebolig__highlights">
                <MudCard Elevation="0">
                    <MudIcon Size="Size.Large" Icon="@Icons.Filled.Person"></MudIcon>
                    <p>@feriebolig.AntalPersoner pers</p>
                </MudCard>

                @if (feriebolig.HusdyrTilladt)
                {
                    <MudCard Elevation="0">
                        <MudIcon Size="Size.Large" Icon="@Icons.Filled.Pets"></MudIcon>
                        <p>@feriebolig.AntalHusdyr husdyr</p>
                    </MudCard>
                }
                else
                {
                    <MudCard Elevation="0">
                        <MudIcon Size="Size.Large" Icon="@Icons.Filled.Pets"></MudIcon>
                        <p>Husdyr ikke tilladt</p>
                    </MudCard>
                }

                <MudCard Elevation="0">
                    <MudIcon Size="Size.Large" Icon="@Icons.Filled.Waves"></MudIcon>
                    <p>@feriebolig.AfstandStrand m til strand</p>
                </MudCard>

                <MudCard Elevation="0">
                    <MudIcon Size="Size.Large" Icon="@Icons.Filled.ShoppingCart"></MudIcon>
                    <p>@feriebolig.AfstandIndkoeb m til indkøb</p>
                </MudCard>

                <MudCard Elevation="0">
                    <MudIcon Size="Size.Large" Icon="@Icons.Filled.LocalDining"></MudIcon>
                    <p>@feriebolig.AfstandIndkoeb m til restaurant</p>
                </MudCard>

            </MudCard>

            <MudCard Elevation="0" Class="feriebolig__rediger">
                <EditTextfields Model="@feriebolig" Overskrift="Beskrivelse" Property="@feriebolig.Beskrivelse" PropertyName="Beskrivelse"></EditTextfields>
            </MudCard>
            <MudCard Elevation="0" Class="feriebolig__rediger">
                <EditTextfields Model="@feriebolig" Overskrift="Bemærkninger" Property="@feriebolig.Bemaerkninger" PropertyName="Bemaerkninger"></EditTextfields>
            </MudCard>

            <MudCard>
                <EditDropdownMultiselect AlleFaciliteter="@alleFaciliteter" Model="@feriebolig" Overskrift="Faciliteter"></EditDropdownMultiselect>
            </MudCard>

        </MudPaper>
    </MudContainer>

    <MudContainer MaxWidth="MaxWidth.Small">
        <MudGrid>
            <MudItem xs="3" Class="d-flex flex-column feriebolig__priser">
                <MudCard>
                    Pris - højsæson: <br />
                    @feriebolig.PrisHoej
                </MudCard>
                <MudCard>
                    Pris - lavsæson: <br />
                    @feriebolig.PrisLav
                </MudCard>
            </MudItem>
            <MudItem xs="3" Class="d-flex flex-column feriebolig__priser">
                <MudCard>
                    Beskatning - højsæson: <br />
                    @feriebolig.BeskatningHoej
                </MudCard>
                <MudCard>
                    Beskatning - lavsæson: <br />
                    @feriebolig.BeskatningLav
                </MudCard>
            </MudItem>
        </MudGrid>

        <!--TODO: lav lodtrækning og booking? måske kun booking??-->
    </MudContainer>
</MudPaper>

@code {
    [Parameter]
    public int Id { get; set; }

    Feriebolig feriebolig = new Feriebolig();
    List<Facilitet> faciliteter = new List<Facilitet>();
    public List<Facilitet> alleFaciliteter = new List<Facilitet>();

    protected override async Task OnInitializedAsync()

    {
        alleFaciliteter = await facilitetService.GetFacilitiesAsync();
        feriebolig = await ferieboligService.GetFerieboligByIdAsync(Id);
        faciliteter = feriebolig.Faciliteter.ToList();
    }



}
