@page "/ferieboliger/{Id:int}"

@using Ferieboliger.BLL.Services;
@using Ferieboliger.Pages.Feriebolig.EditModuler;
@using Ferieboliger.Pages.Feriebolig.Booking;
@using System.Globalization;
@using BlazorInputFile;
@using System.IO;
@using System;

@inject ISnackbar Snackbar
@inject IFerieboligService ferieboligService;
@inject IFacilitetService facilitetService;
@inject IFiloplysningerService filoplysningerService;
@inject IHelperService helperService;

<MudPaper Width="100%" Elevation="0" Class="d-flex">
    <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
        <MudPaper Elevation="0">
            <MudText>
                <h3>@feriebolig.Adresse.By hus nr. @feriebolig.Id</h3>
                <p>
                    @feriebolig.Adresse.Vej, @feriebolig.Adresse.Postnummer @feriebolig.Adresse.By<br />
                    @feriebolig.Adresse.Land
                </p>
            </MudText>

            @if(_source.Count() > 0)
             {
                <MudCarousel PreviousIcon="" Class="feriebolig__karrusel" @ref="_carousel" ItemsSource="@_source" Style="height: 35rem;" ShowArrows="@_arrows" ShowDelimiters="@_delimiters" AutoCycle="@_autocycle">
                    <ItemTemplate>
                        <div class="d-flex flex-column flex-column justify-center feriebolig__billeder" style="height:100%; background-image:url(@context)">
                            
                        </div>
                    </ItemTemplate>
                </MudCarousel>
             }

            <br />
            <Microsoft.AspNetCore.Components.Forms.InputFile id="uploadFiles" hidden multiple OnChange="HandleFileSelected" MaxBufferSize="@(20 * 1024)" accept=".jpg, .jpeg, .png"></Microsoft.AspNetCore.Components.Forms.InputFile>

            <MudButton HtmlTag="label"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Filled.CloudUpload"
                       for="uploadFiles">
                Vælg billeder
            </MudButton>

            @if (upload)
            {
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="UploadImages">Upload</MudButton>
            }

            @if (files != null)
            {
                <MudText Typo="@Typo.h6">@files.Count() File@(files.Count() == 1 ? "" : "s"):</MudText>
                <MudList>
                    @foreach (var file in files)
                    {
                        <MudListItem Icon="@Icons.Filled.AttachFile" @key="@file">
                            @file.Name <code>@file.Size bytes</code>
                        </MudListItem>
                    }
                </MudList>
            }

            @if (!upload && _source.Count() > 0)
            {
                <MudButton Class="ma-2" Variant="Variant.Filled" Color="Color.Error" OnClick="@(async () => await DeleteAsync(_carousel.SelectedIndex))">Slet</MudButton>
            }


            <MudCard Elevation="0" Class="d-flex feriebolig__highlights">
                <EditHighlights Overskrift="Highlights" Model="@feriebolig"></EditHighlights>
            </MudCard>

            <MudCard Elevation="0" Class="feriebolig__rediger">
                <EditTextfields Model="@feriebolig" Overskrift="Beskrivelse" Property="@feriebolig.Beskrivelse" PropertyName="Beskrivelse"></EditTextfields>
            </MudCard>
            <MudCard Elevation="0" Class="feriebolig__rediger">
                <EditTextfields Model="@feriebolig" Overskrift="Bemærkninger" Property="@feriebolig.Bemaerkninger" PropertyName="Bemaerkninger"></EditTextfields>

            </MudCard>

            <MudCard Elevation="0">
                <EditDropdownMultiselect AlleFaciliteter="@alleFaciliteter" Model="@feriebolig" Overskrift="Faciliteter"></EditDropdownMultiselect>
            </MudCard>

        </MudPaper>
    </MudContainer>

    <MudContainer MaxWidth="MaxWidth.Small">

        <EditPriser Overskrift="Priser" Model="@feriebolig"></EditPriser>
        <!--TODO: lav lodtrækning og booking? måske kun booking??-->

        <MudCard Elevation="0">
            <BookingFeriebolig Model="@feriebolig"></BookingFeriebolig>
        </MudCard>

        <MudCard Elevation="0">
            <p class="feriebolig__overskrift">Bookinger</p>
            @foreach (var booking in feriebolig.Bookinger)
            {
                <p>@booking.Id: @booking.UdlejDato.ToString("dddd", inf) @booking.UdlejDato.ToShortDateString() - @booking.UdlejDato.ToString("dddd", inf) @booking.AfrejseDato.ToShortDateString()</p>
            }
        </MudCard>

        <MudCard Elevation="0">
            <EditNoegler Model="feriebolig"></EditNoegler>
        </MudCard>
    </MudContainer>
</MudPaper>

@code {
    [Parameter]
    public int Id { get; set; }

    IList<IBrowserFile> files = new List<IBrowserFile>();

    Feriebolig feriebolig = new Feriebolig();
    List<Facilitet> faciliteter = new List<Facilitet>();
    public List<byte[]> ImageUploads = new List<byte[]>();
    public List<Facilitet> alleFaciliteter = new List<Facilitet>();
    CultureInfo inf = new CultureInfo("da-DK");

    private MudCarousel<string> _carousel = new MudCarousel<string>();
    private bool _arrows = true;
    private bool _delimiters = true;
    private bool _autocycle = false;
    private bool upload = false;
    private IList<string> _source = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        alleFaciliteter = await facilitetService.GetFacilitiesAsync();
        feriebolig = await ferieboligService.GetFerieboligByIdAsync(Id);
        faciliteter = feriebolig.Faciliteter.ToList();

        @foreach (var image in feriebolig.Filer)
        {
            _source.Add(helperService.convertImageToDisplay(image.Data));
        }

        if (_carousel.Items.Count() > 0)
        {
            _carousel.MoveTo(0);
        }
    }

    //TODO Kan det her flyttes til HelperService??
    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        upload = true;
        ImageUploads.Clear();
        files.Clear();

        foreach (var item in e.GetMultipleFiles())
        {
            var ms = new MemoryStream();
            await item.OpenReadStream().CopyToAsync(ms);
            ImageUploads.Add(ms.ToArray());
            files.Add(item);
        }
    }

    private async Task UploadImages()
    {
        foreach (var imgUpload in ImageUploads)
        {
            //Upload til database
            Filoplysning filoplysning = new Filoplysning();
            filoplysning.Data = imgUpload;
            filoplysning.Name = Path.GetRandomFileName();
            filoplysning.FerieboligId = feriebolig.Id;
            await filoplysningerService.UploadImage(filoplysning);

            //Tilføj til vores karrusel
            _source.Add(helperService.convertImageToDisplay(filoplysning.Data));
            await Task.Delay(1);
            if(_carousel.Items.Count() > 0)
            {
                _carousel.MoveTo(_source.Count - 1);
            }

        }

        upload = false;
        ImageUploads.Clear();
        files.Clear();
    }

    private async Task DeleteAsync(int index)
    {
        if (_source.Any())
        {
            List<Filoplysning>
            filoplysninger = new List<Filoplysning>();
            filoplysninger = feriebolig.Filer.ToList();
            _source.RemoveAt(index);
            await Task.Delay(1);
            _carousel.MoveTo(System.Math.Max(System.Math.Min(index, _source.Count - 1), 0));
            await filoplysningerService.DeleteImageByIdAsync(filoplysninger.ElementAt(index).Id);

        }

    }

}
