@using Ferieboliger.BLL.Services;

@inject IFerieboligService ferieboligService;
@inject NavigationManager navigationManager;
@inject IFiloplysningerService filoplysningerService;
@inject IHelperService helperService;

<MudGrid>
    @foreach (var feriebolig in alleFerieboliger)
    {
        <MudItem @onclick="@(async() => await NavigateFeriebolig(feriebolig))" xs="3">
            @if (feriebolig.Filer != null)
            {
                List<string> _source = new List<string>();
                @foreach (var image in feriebolig.Filer)
                {
                    _source.Add(helperService.convertImageToDisplay(image.Data));
                }

                if (_source.Count() > 0)
                {
                    <MudCarousel @ref="_carousel" ItemsSource="@_source" Style="height:25rem; " ShowArrows="@_arrows" ShowDelimiters="@_delimiters" AutoCycle="@_autocycle">
                        <ItemTemplate>
                            <div class="d-flex flex-column flex-column justify-center feriebolig__billeder" style="height:100%; background-image: url(@context)">
                            </div>
                        </ItemTemplate>
                    </MudCarousel>
                }

            }
            <MudPaper>
                @feriebolig.Adresse.Vej
            </MudPaper>
        </MudItem>
    }
</MudGrid>

@code {
    List<Feriebolig> alleFerieboliger = new List<Feriebolig>();
    private MudCarousel<string> _carousel;
    private bool _arrows = true;
    private bool _delimiters = true;
    private bool _autocycle = false;

    protected override async Task OnInitializedAsync()
    {
        alleFerieboliger = await ferieboligService.GetFerieboligerAsync();
    }

    public async Task NavigateFeriebolig(Feriebolig feriebolig)
    {
        navigationManager.NavigateTo("/ferieboliger/" + feriebolig.Id, false);
    }

}
